table, th, td {
    border: 1px solid black;
  }

  .h2-heading {
    font-size: 1.5em;
    font-weight: bold;
}

.h3-heading {
    font-size: 1.17em;
    font-weight: bold;
}

.row-heading {
    background: #002956;
    color: #fff;
}

.net-total-row {
    background: #82d1ff;
    color: #002956;
}


