<div class="rowContainer rowContainer_title_card" id="row-3">
    <div class="ptrack-container">
        <div class="rowContent slider-hover-trigger-layer">
            <div class="slider">
                <ul class="pagination-indicator">
                    <li class="active"></li>
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                </ul>
                <div class="sliderMask showPeek">
                    <div class="sliderContent row-with-x-columns">
                        <div class="slider-item slider-item-0" *ngFor="let item of items">
                            <div class="title-card-container ltr-0">
                                <mat-card class="example-card">
                                    <mat-card-header>
                                      <div mat-card-avatar class="example-header-image"></div>
                                      <mat-card-title>Shiba Inu</mat-card-title>
                                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                                    </mat-card-header>
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                    <mat-card-content>
                                      <p>
                                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                        bred for hunting.
                                      </p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                      <button mat-button>LIKE</button>
                                      <button mat-button>SHARE</button>
                                    </mat-card-actions>
                                  </mat-card>
                            </div>
                        </div>
                    </div>
                </div><span class="handle handleNext active" tabindex="0" role="button" aria-label="See more titles"><b
                        class="indicator-icon icon-rightCaret"></b></span>
            </div>
        </div>
    </div>
</div>