.icon-check {
    color: #4caf50;
    width: 10%;
}
.services {
    width: 90%;
}

.card-container {
    background-color: rgb(243, 232, 255) !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.z-neg {
    z-index: -1 !important;
}

.text-color {
    color: #3a376b;
}

.divider {
    background-color: rgb(107, 33, 168);
}

.card-title {
    height: 100px;
}

.card-desc {
    height: 80px;
}
.green-chip-white {
    color: rgb(22, 101, 52) !important;
    background-color: #81c784 !important;
    border-radius: 1rem;
}

.text-blue-default {
    color: #5e3fdb;
}