.theme-teal {
    --fuse-primary-50: #f0fdfa;
    --fuse-primary-50-rgb: 240, 253, 250;
    --fuse-primary-100: #ccfbf1;
    --fuse-primary-100-rgb: 204, 251, 241;
    --fuse-primary-200: #99f6e4;
    --fuse-primary-200-rgb: 153, 246, 228;
    --fuse-primary-300: #5eead4;
    --fuse-primary-300-rgb: 94, 234, 212;
    --fuse-primary-400: #2dd4bf;
    --fuse-primary-400-rgb: 45, 212, 191;
    --fuse-primary-500: #14b8a6;
    --fuse-primary-500-rgb: 20, 184, 166;
    --fuse-primary-600: #0d9488;
    --fuse-primary-600-rgb: 13, 148, 136;
    --fuse-primary-700: #0f766e;
    --fuse-primary-700-rgb: 15, 118, 110;
    --fuse-primary-800: #115e59;
    --fuse-primary-800-rgb: 17, 94, 89;
    --fuse-primary-900: #134e4a;
    --fuse-primary-900-rgb: 19, 78, 74;
    --fuse-primary: #0d9488;
    --fuse-primary-rgb: 13, 148, 136;
    --fuse-on-primary-50: #134e4a;
    --fuse-on-primary-50-rgb: 19, 78, 74;
    --fuse-on-primary-100: #134e4a;
    --fuse-on-primary-100-rgb: 19, 78, 74;
    --fuse-on-primary-200: #134e4a;
    --fuse-on-primary-200-rgb: 19, 78, 74;
    --fuse-on-primary-300: #134e4a;
    --fuse-on-primary-300-rgb: 19, 78, 74;
    --fuse-on-primary-400: #134e4a;
    --fuse-on-primary-400-rgb: 19, 78, 74;
    --fuse-on-primary-500: #134e4a;
    --fuse-on-primary-500-rgb: 19, 78, 74;
    --fuse-on-primary-600: #FFFFFF;
    --fuse-on-primary-600-rgb: 255, 255, 255;
    --fuse-on-primary-700: #FFFFFF;
    --fuse-on-primary-700-rgb: 255, 255, 255;
    --fuse-on-primary-800: #FFFFFF;
    --fuse-on-primary-800-rgb: 255, 255, 255;
    --fuse-on-primary-900: #FFFFFF;
    --fuse-on-primary-900-rgb: 255, 255, 255;
    --fuse-on-primary: #FFFFFF;
    --fuse-on-primary-rgb: 255, 255, 255
}

.theme-rose {
    --fuse-primary-50: #fff1f2;
    --fuse-primary-50-rgb: 255, 241, 242;
    --fuse-primary-100: #ffe4e6;
    --fuse-primary-100-rgb: 255, 228, 230;
    --fuse-primary-200: #fecdd3;
    --fuse-primary-200-rgb: 254, 205, 211;
    --fuse-primary-300: #fda4af;
    --fuse-primary-300-rgb: 253, 164, 175;
    --fuse-primary-400: #fb7185;
    --fuse-primary-400-rgb: 251, 113, 133;
    --fuse-primary-500: #f43f5e;
    --fuse-primary-500-rgb: 244, 63, 94;
    --fuse-primary-600: #e11d48;
    --fuse-primary-600-rgb: 225, 29, 72;
    --fuse-primary-700: #be123c;
    --fuse-primary-700-rgb: 190, 18, 60;
    --fuse-primary-800: #9f1239;
    --fuse-primary-800-rgb: 159, 18, 57;
    --fuse-primary-900: #881337;
    --fuse-primary-900-rgb: 136, 19, 55;
    --fuse-primary: #f43f5e;
    --fuse-primary-rgb: 244, 63, 94;
    --fuse-on-primary-50: #881337;
    --fuse-on-primary-50-rgb: 136, 19, 55;
    --fuse-on-primary-100: #881337;
    --fuse-on-primary-100-rgb: 136, 19, 55;
    --fuse-on-primary-200: #881337;
    --fuse-on-primary-200-rgb: 136, 19, 55;
    --fuse-on-primary-300: #881337;
    --fuse-on-primary-300-rgb: 136, 19, 55;
    --fuse-on-primary-400: #881337;
    --fuse-on-primary-400-rgb: 136, 19, 55;
    --fuse-on-primary-500: #FFFFFF;
    --fuse-on-primary-500-rgb: 255, 255, 255;
    --fuse-on-primary-600: #FFFFFF;
    --fuse-on-primary-600-rgb: 255, 255, 255;
    --fuse-on-primary-700: #FFFFFF;
    --fuse-on-primary-700-rgb: 255, 255, 255;
    --fuse-on-primary-800: #FFFFFF;
    --fuse-on-primary-800-rgb: 255, 255, 255;
    --fuse-on-primary-900: #FFFFFF;
    --fuse-on-primary-900-rgb: 255, 255, 255;
    --fuse-on-primary: #FFFFFF;
    --fuse-on-primary-rgb: 255, 255, 255
}

.theme-purple {
    --fuse-primary-50: #faf5ff;
    --fuse-primary-50-rgb: 250, 245, 255;
    --fuse-primary-100: #f3e8ff;
    --fuse-primary-100-rgb: 243, 232, 255;
    --fuse-primary-200: #e9d5ff;
    --fuse-primary-200-rgb: 233, 213, 255;
    --fuse-primary-300: #d8b4fe;
    --fuse-primary-300-rgb: 216, 180, 254;
    --fuse-primary-400: #c084fc;
    --fuse-primary-400-rgb: 192, 132, 252;
    --fuse-primary-500: #a855f7;
    --fuse-primary-500-rgb: 168, 85, 247;
    --fuse-primary-600: #9333ea;
    --fuse-primary-600-rgb: 147, 51, 234;
    --fuse-primary-700: #7e22ce;
    --fuse-primary-700-rgb: 126, 34, 206;
    --fuse-primary-800: #6b21a8;
    --fuse-primary-800-rgb: 107, 33, 168;
    --fuse-primary-900: #581c87;
    --fuse-primary-900-rgb: 88, 28, 135;
    --fuse-primary: #9333ea;
    --fuse-primary-rgb: 147, 51, 234;
    --fuse-on-primary-50: #581c87;
    --fuse-on-primary-50-rgb: 88, 28, 135;
    --fuse-on-primary-100: #581c87;
    --fuse-on-primary-100-rgb: 88, 28, 135;
    --fuse-on-primary-200: #581c87;
    --fuse-on-primary-200-rgb: 88, 28, 135;
    --fuse-on-primary-300: #581c87;
    --fuse-on-primary-300-rgb: 88, 28, 135;
    --fuse-on-primary-400: #581c87;
    --fuse-on-primary-400-rgb: 88, 28, 135;
    --fuse-on-primary-500: #FFFFFF;
    --fuse-on-primary-500-rgb: 255, 255, 255;
    --fuse-on-primary-600: #FFFFFF;
    --fuse-on-primary-600-rgb: 255, 255, 255;
    --fuse-on-primary-700: #FFFFFF;
    --fuse-on-primary-700-rgb: 255, 255, 255;
    --fuse-on-primary-800: #FFFFFF;
    --fuse-on-primary-800-rgb: 255, 255, 255;
    --fuse-on-primary-900: #FFFFFF;
    --fuse-on-primary-900-rgb: 255, 255, 255;
    --fuse-on-primary: #FFFFFF;
    --fuse-on-primary-rgb: 255, 255, 255
}

.theme-amber {
    --fuse-primary-50: #fffbeb;
    --fuse-primary-50-rgb: 255, 251, 235;
    --fuse-primary-100: #fef3c7;
    --fuse-primary-100-rgb: 254, 243, 199;
    --fuse-primary-200: #fde68a;
    --fuse-primary-200-rgb: 253, 230, 138;
    --fuse-primary-300: #fcd34d;
    --fuse-primary-300-rgb: 252, 211, 77;
    --fuse-primary-400: #fbbf24;
    --fuse-primary-400-rgb: 251, 191, 36;
    --fuse-primary-500: #f59e0b;
    --fuse-primary-500-rgb: 245, 158, 11;
    --fuse-primary-600: #d97706;
    --fuse-primary-600-rgb: 217, 119, 6;
    --fuse-primary-700: #b45309;
    --fuse-primary-700-rgb: 180, 83, 9;
    --fuse-primary-800: #92400e;
    --fuse-primary-800-rgb: 146, 64, 14;
    --fuse-primary-900: #78350f;
    --fuse-primary-900-rgb: 120, 53, 15;
    --fuse-primary: #f59e0b;
    --fuse-primary-rgb: 245, 158, 11;
    --fuse-on-primary-50: #78350f;
    --fuse-on-primary-50-rgb: 120, 53, 15;
    --fuse-on-primary-100: #78350f;
    --fuse-on-primary-100-rgb: 120, 53, 15;
    --fuse-on-primary-200: #78350f;
    --fuse-on-primary-200-rgb: 120, 53, 15;
    --fuse-on-primary-300: #78350f;
    --fuse-on-primary-300-rgb: 120, 53, 15;
    --fuse-on-primary-400: #78350f;
    --fuse-on-primary-400-rgb: 120, 53, 15;
    --fuse-on-primary-500: #78350f;
    --fuse-on-primary-500-rgb: 120, 53, 15;
    --fuse-on-primary-600: #FFFFFF;
    --fuse-on-primary-600-rgb: 255, 255, 255;
    --fuse-on-primary-700: #FFFFFF;
    --fuse-on-primary-700-rgb: 255, 255, 255;
    --fuse-on-primary-800: #FFFFFF;
    --fuse-on-primary-800-rgb: 255, 255, 255;
    --fuse-on-primary-900: #FFFFFF;
    --fuse-on-primary-900-rgb: 255, 255, 255;
    --fuse-on-primary: #78350f;
    --fuse-on-primary-rgb: 120, 53, 15
}

