.badge-primary {
    color: #556ee6;
    background-color: #556ee62e
}

.badge-secondary {
    color: #74788d;
    background-color: #74788d2e
}

.badge-green {
    color: #34c38f;
    background-color: #34c38f2e
}

.badge-blue {
    color: #50a5f1;
    background-color: #50a5f12e
}

.badge-orange {
    color: #f1b44c;
    background-color: #f1b44c2e
}

.badge-red {
    color: #f46a6a;
    background-color: #f46a6a2e
}

.badge-pink {
    color: #e83e8c;
    background-color: #e83e8c2e
}


.badge-light {
    color: #eff2f7;
    background-color: #eff2f72e
}

.badge.bg-light {
    color: #495057
}

.badge-dark {
    color: #343a40;
    background-color: #343a402e
}
