@use "sass:map";

$md-prussian-blue: (
    50 : #e0e5eb,
    100 : #b3bfcc,
    200 : #8094ab,
    300 : #4d6989,
    400 : #26496f,
    500 : #002956,
    600 : #00244f,
    700 : #001F41,
    800 : #00193c,
    900 : #000f2b,
    A100 : #6585ff,
    A200 : #325dff,
    A400 : #0035fe,
    A700 : #002fe5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #04e3ff,
        600 : #04e3ff,
        700 : #04e3ff,
        800 : #04e3ff,
        900 : #04e3ff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-vivid-sky-blue: (
    50 : #e1fcff,
    100 : #b4f7ff,
    200 : #82f1ff,
    300 : #4febff,
    400 : #2ae7ff,
    500 : #04e3ff,
    600 : #03e0ff,
    700 : #03dcff,
    800 : #02d8ff,
    900 : #01d0ff,
    A100 : #ffffff,
    A200 : #f2fcff,
    A400 : #bff2ff,
    A700 : #a6ecff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #002956,
        400 : #002956,
        500 : #002956,
        600 : #002956,
        700 : #002956,
        800 : #002956,
        900 : #002956,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
