<form [formGroup]="taxForm">
    <mat-stepper class="example-stepper" (selectionChange)="checkStep($event)"
        [orientation]="(stepperOrientation | async)!" color="primary">
        <mat-step label="Income Details">
            <mat-card>
                <mat-card-content>
                    <div class="">
                        <mat-card-title>Gross Annual Income/Salary </mat-card-title>
                        <mat-card-subtitle>With all allowances</mat-card-subtitle>
                    </div>
                    <mat-form-field appearance="outline" class="dense-5">
                        <input formControlName="salaryIncome" matInput placeholder="Salary" required>
                    </mat-form-field>
                    <div class="grid grid-cols-12">
                        <mat-card-subtitle class="col-span-4 font-bold">Do you have other sources of
                            Income</mat-card-subtitle>
                        <mat-slide-toggle formControlName="isOtherIncome" labelPosition="before"></mat-slide-toggle>
                    </div>
                    <br>
                    <div [ngClass]="{'disabled': !taxForm.get('isOtherIncome')?.value}">
                        <div class="grid grid-cols-2">
                            <div class="flex flex-col  mb-2 pr-2">
                                <div class="">
                                    <mat-card-subtitle class="font-bold">Income from Interest
                                    </mat-card-subtitle>
                                    <mat-card-subtitle>
                                        From Bank accounts, NSC, and Post Office MIS.
                                    </mat-card-subtitle>
                                </div>
                                <div class="flex items-center dense-5">
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="incomeFromInterest"
                                            placeholder="Income from Interest">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex flex-col mb-2 pl-2">
                                <div class="">
                                    <mat-card-subtitle class="font-bold">
                                        Rental Income (Annual)
                                    </mat-card-subtitle>
                                    <mat-card-subtitle>
                                        From let out properties, after deducting Municipal taxes.
                                    </mat-card-subtitle>
                                </div>
                                <div class="flex items-center dense-5">
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="rentalIncome" placeholder="Rental Income">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="flex flex-col  mb-2 pr-2">
                                <div class="">
                                    <mat-card-subtitle class="font-bold">
                                        Short Term Capital Gains
                                    </mat-card-subtitle>

                                </div>
                                <div class="flex items-center dense-5">
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="longTermCapitalgain"
                                            placeholder="Long Term Gain">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex flex-col mb-2 pl-2">
                                <div class="">
                                    <mat-card-subtitle class="font-bold">
                                        Long Term Capital Gains
                                    </mat-card-subtitle>

                                </div>
                                <div class="flex items-center dense-5">
                                    <mat-form-field appearance="outline">
                                        <input formControlName="shortTermCapitalgain" matInput
                                            placeholder="Short Term Gain">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="flex flex-col  mb-2 pr-2">
                                <div class="">
                                    <mat-card-subtitle class="font-bold">Other Income
                                    </mat-card-subtitle>
                                    <mat-card-subtitle>
                                        Business Income, Commissions, etc.
                                    </mat-card-subtitle>
                                </div>
                                <div class="flex items-center dense-5">
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="otherIncome" placeholder="Other Income">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="flex justify-end">
                        <button mat-raised-button matStepperNext color="primary">Next</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-step>
        <mat-step label="HRA">
            <mat-card>
                <mat-card-content>
                    <div class="">
                        <mat-card-title>House rent allowance (HRA) </mat-card-title>
                    </div>
                    <div>
                        <mat-chip-listbox aria-label="City of Residence" formControlName="cityOfResidence">
                            <mat-chip-option value="metro">Metro</mat-chip-option>
                            <mat-chip-option value="non-metro">Non-Metro</mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                    <br>
                    <div class="flex flex-col">
                        <div class="flex flex-col  mb-2 pr-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">Basic Salary - Annual
                                </mat-card-subtitle>
                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="basicSalary" placeholder="Basic Salary">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col  mb-2 pr-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">
                                    Rent Paid - Annual
                                </mat-card-subtitle>

                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input formControlName="rentPaid" matInput placeholder="Rent">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col mb-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">
                                    HRA received from Employer
                                </mat-card-subtitle>

                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input formControlName="hraReceived" matInput placeholder="HRA received">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="flex justify-end">
                        <button mat-raised-button matStepperPrevious color="accent" class="mr-4">Back</button>
                        <button mat-raised-button matStepperNext color="primary">Next</button>
                    </div>
                </mat-card-content>
            </mat-card>

        </mat-step>
        <mat-step label="Deductions">
            <mat-card>
                <mat-card-content>
                    <div class="grid grid-cols-2">
                        <div class="flex flex-col  mb-2 pr-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">
                                    Total Investment
                                </mat-card-subtitle>
                                <mat-card-subtitle>
                                    (LIC, PF, EPF, ELSS funds, etc.)
                                </mat-card-subtitle>
                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input formControlName="investment" matInput placeholder="Investment">
                                    <mat-hint>Max - ₹ 1,50,000</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col  mb-2 pr-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">
                                    Home Loan Interest Payment
                                </mat-card-subtitle>
                                <mat-card-subtitle>
                                    (Interest part) - Annual
                                </mat-card-subtitle>
                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input formControlName="houseLoanInterest" matInput
                                        placeholder="Home Loan Interest">
                                    <mat-hint>Max - ₹ 2,00,000</mat-hint>

                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="grid grid-cols-2">
                        <div class="flex flex-col  mb-2 pr-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">
                                    NPS - Paid By Employer
                                </mat-card-subtitle>
                                <mat-card-subtitle>
                                    Central Govt - upto 14%, Others - upto 10%
                                </mat-card-subtitle>
                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input formControlName="npsEmployerContribution" matInput
                                        placeholder="NPS by Employer">
                                    <mat-hint>Govt-₹{{calculateMaxNpsAllowed(14)}}
                                        Others-₹{{calculateMaxNpsAllowed(10)}}</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col  mb-2 pr-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">
                                    NPS - Voluntary Contribution
                                </mat-card-subtitle>
                                <mat-card-subtitle>
                                    Own Contribution
                                </mat-card-subtitle>
                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input formControlName="npsSelfContribution" matInput
                                        placeholder="NPS - Own Contribution">
                                    <mat-hint>Max - ₹ 50,000</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="grid grid-cols-2">
                        <div class="flex flex-col mb-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">
                                    Other Deductions
                                </mat-card-subtitle>
                                <mat-card-subtitle>
                                    Education loan, medical Treatment, etc.
                                </mat-card-subtitle>

                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input formControlName="otherDeductions" matInput placeholder="Other Deductions">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col mb-2">
                            <div class="">
                                <mat-card-subtitle class="font-bold">
                                    Health Insurance
                                </mat-card-subtitle>
                                <mat-card-subtitle>
                                    Annual Premium
                                </mat-card-subtitle>

                            </div>
                            <div class="flex items-center dense-5">
                                <mat-form-field appearance="outline">
                                    <input formControlName="medicalInsurance" matInput placeholder="Insurance">
                                    <mat-hint>Max - ₹ 25,000</mat-hint>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="flex justify-end">
                        <button mat-raised-button matStepperPrevious color="accent" class="mr-4">Back</button>
                        <button mat-raised-button matStepperNext color="primary"
                            (click)="calculate(taxForm.value)">Next</button>
                    </div>
                </mat-card-content>
            </mat-card>

        </mat-step>
        <mat-step label="Summary">
            <div class="grid grid-cols-2">
                <div class="chart-container mr-2">
                    <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins">
                    </canvas>
                </div>
                <div class="flex flex-row pt-8 items-center">
                    <mat-card class="w-1/2 h-full mr-3"
                        [ngClass]="{'float-card': (taxForm.get('totalOldTax')!.value < taxForm.get('totalNewTax')!.value) }">
                        <mat-card-content>
                            <mat-card-subtitle class="font-bold underline text-center">
                                Old Tax Regime
                            </mat-card-subtitle>
                            <div class="flex flex-col">
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Total Salary
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        ₹ {{this.returnFormcontrolValue('netTaxableSalary')}}
                                    </mat-card-title>
                                </div>
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Total Deduction (80D)
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        ₹
                                        {{this.returnFormcontrolValue('totalDeduction')+this.returnFormcontrolValue('standardDeduction')}}
                                    </mat-card-title>
                                </div>
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Total Excemption
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        ₹ {{this.returnFormcontrolValue('exemptedHRA')}}
                                    </mat-card-title>
                                </div>
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Net Taxable Income
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        ₹ {{this.returnFormcontrolValue('netTaxableIncome')}}
                                    </mat-card-title>
                                </div>
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Net Tax Payable
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        <mat-chip-listbox aria-label="Net Tax Payable">
                                            <mat-chip-option class="pointer-event-none" selected>
                                                ₹ {{this.returnFormcontrolValue('totalOldTax')}}
                                            </mat-chip-option>
                                        </mat-chip-listbox>
                                    </mat-card-title>
                                </div>
                                <button mat-raised-button color="primary" (click)="openDialogOldTax('old')">Tax Calculation Details</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider vertical="true"></mat-divider>
                    <mat-card class="w-1/2 h-full"
                        [ngClass]="{'float-card': (taxForm.get('totalOldTax')!.value > taxForm.get('totalNewTax')!.value) }">

                        <mat-card-content>
                            <mat-card-subtitle class="font-bold underline text-center">
                                New Tax Regime
                            </mat-card-subtitle>
                            <div class="flex flex-col">
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Total Salary
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        ₹ {{this.returnFormcontrolValue('salaryIncome') +
                                        this.returnFormcontrolValue('netBusinessIncome')
                                        }}
                                    </mat-card-title>
                                </div>
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Total Deduction
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        ₹ {{this.returnFormcontrolValue('standardDeduction') +
                                        this.returnFormcontrolValue('npsEmployerContribution')
                                        }}
                                    </mat-card-title>
                                </div>
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Total Excemption
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        ₹ 0
                                    </mat-card-title>
                                </div>
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Net Taxable Income
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        ₹ {{this.returnFormcontrolValue('salaryIncome') +
                                        this.returnFormcontrolValue('netBusinessIncome') -
                                        this.returnFormcontrolValue('npsEmployerContribution') -
                                        this.returnFormcontrolValue('standardDeduction')}}
                                    </mat-card-title>
                                </div>
                                <div class="mb-4">
                                    <mat-card-subtitle>
                                        Net Tax Payable
                                    </mat-card-subtitle>
                                    <mat-card-title>
                                        <mat-chip-listbox aria-label="Net Tax Payable">
                                            <mat-chip-option class="pointer-event-none" selected>
                                                ₹ {{this.returnFormcontrolValue('totalNewTax')}}
                                            </mat-chip-option>
                                        </mat-chip-listbox>
                                    </mat-card-title>
                                </div>
                                <button mat-raised-button color="primary" (click)="openDialogNewTax('new')">Tax Calculation Details</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <br><br>
            <h3 class="text-right">We recommend using <b>{{bestTaxRegime()}}</b> while filing Income Tax Return (ITR)
            </h3>
            <br>
            <div class="flex justify-end">
                <button mat-raised-button matStepperPrevious color="accent">Back</button>
            </div>
        </mat-step>
    </mat-stepper>
</form>