/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import '/node_modules/tailwindcss/base.css';
@import '/node_modules/tailwindcss/components';
@import '/node_modules/tailwindcss/utilities';
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@import './styles/themes/typography';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ebebeb;
}


.dense-3 {
  @include mat.form-field-density(-3);
}

.dense-5 {
  @include mat.form-field-density(-5);
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  padding: 0 4px !important;
  line-height: 1.2;
}
