/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ebebeb;
}


.dense-1 {
  @include mat.form-field-density(-3);
}

.dense-2 {
  @include mat.form-field-density(-5);
}

::ng-deep .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix {
    padding: .5em;
}